In [34]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [35]:
x = pd.read_csv("drugs_x_train.csv")
y = pd.read_csv("drugs_y_train.csv")


ratio = 0.69
test_size = 1 - ratio

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=test_size, random_state=0)

y_train

     Drug_DrugY  Drug_drugA  Drug_drugB  Drug_drugC
56            0           0           0           1
40            0           0           0           1
110           0           0           0           0
54            1           0           0           0
3             0           0           1           0
..          ...         ...         ...         ...
9             0           0           0           0
103           0           0           0           0
67            1           0           0           0
117           1           0           0           0
47            0           0           0           0

[92 rows x 4 columns]

In [36]:
x_train.to_csv('x_train.csv', index=False)
x_test.to_csv('x_test.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
y_test.to_csv('y_test.csv', index=False)